body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
} 

.w3-sidebar {
    width: 120px;
    background: #222 !important;

    i{
       font-size: 36px;
    }
}

#main {
    margin-left: 120px;
}

       